#content {
  padding-top: 48px;

  .breadcrumbs {
	a {
	  color: #222222;
	}
  }

  .sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.section {
	  width:45%;
	  .section-title {

	  }
	  .section-content {

	  }
	}
  }
}