header {
  line-height: 1;

  #header-main {
	background: #f9f9f9;

	.header-main-inner {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-wrap: wrap;

	  #logo {
		padding: 38px 0 34px;
		font-family: $font-bebas;
		color: #313131;
		font-size: 41.13px;

		span {
		  color: $col-primary;
		}
	  }
	}
  }
}